In [34]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [35]:
df = pd.read_csv("../data/raw/CR-advertise-urls.csv")
df.head()

,propertyID,address,propertyType,priceAUD,priceUSD,publishedDate,lastUpdateDate,buildingSize,bedrooms,bathrooms,parkingSpaces,features,agentName,agency,agentPhone,agentEmail,description
0,310103426772,"[""Atenas"", "" Atenas"", "" Alajuela"", "" Atenas"", ...",Unit,"AUD $1,226",USD $800,Published on: 11 Nov 2025,Last updated on: 13 Nov 2025,80.00 m2,1 bedroom(s),1 bathroom(s),1.0,"[""Outdoor swimming pool"", ""Pool"", ""Remote Gara...",Cynthia Wunderink,Coldwell Banker - Pura Vida Paradise,+506 6043 5090,NaN,Acogedor y funcional apartamento ideal para un...
1,310103425359,"[""Commercial Space for Lease \u00e2\u20ac\u201...",Other,"AUD $55,526","USD $36,225",Published on: 11 Nov 2025,Last updated on: 11 Nov 2025,"1,575.00 m2",NaN,NaN,NaN,NaN,Michelle Zapata Zapata Valerio,DÃºo CR Real Estate,+506 8486 4767,NaN,"Commercial Space for Lease Corner Location, Hi..."
2,310103390700,"[""8"", "" Trinidad"", "" Moravia"", "" San Jose"", "" ...",Unit,"AUD $1,073",USD $700,Published on: 08 Nov 2025,Last updated on: 11 Nov 2025,50.00 m2,3 bedroom(s),1 bathroom(s),1.0,"[""Remote Garage""]",Ingrid Picado Marchena,CENTURY 21 Grano de Oro,+506 7017 8424,NaN,Comfortable apartment for rent in El Roble Con...
3,310103369947,"[""Centro s/n"", "" Turrialba"", "" Turrialba"", "" C...",Unit,AUD $460,USD $300,Published on: 07 Nov 2025,Last updated on: 11 Nov 2025,300.00 m2,NaN,NaN,NaN,NaN,Roy Solano,CENTURY 21 La Campiña,+506 8830 4140,NaN,"?Details: 2 bedrooms, 1 bathroom, living-dinin..."
4,310103369856,"[""La Plaza s/n"", "" Turrialba"", "" Turrialba"", ""...",House,AUD $690,USD $450,Published on: 07 Nov 2025,Last updated on: 11 Nov 2025,160.00 m2,NaN,NaN,NaN,NaN,Roy Solano,CENTURY 21 La Campiña,+506 8830 4140,NaN,Prime central location right across from the P...

In [36]:
df.columns

Index(['propertyID', 'address', 'propertyType', 'priceAUD', 'priceUSD',
       'publishedDate', 'lastUpdateDate', 'buildingSize', 'bedrooms',
       'bathrooms', 'parkingSpaces', 'features', 'agentName', 'agency',
       'agentPhone', 'agentEmail', 'description'],
      dtype='object')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   propertyID      645 non-null    int64
 1   address         635 non-null    object
 2   propertyType    635 non-null    object
 3   priceAUD        645 non-null    object
 4   priceUSD        645 non-null    object
 5   publishedDate   635 non-null    object
 6   lastUpdateDate  635 non-null    object
 7   buildingSize    623 non-null    object
 8   bedrooms        424 non-null    object
 9   bathrooms       424 non-null    object
 10  parkingSpaces   70 non-null     float64
 11  features        355 non-null    object
 12  agentName       630 non-null    object
 13  agency          635 non-null    object
 14  agentPhone      635 non-null    object
 15  agentEmail      0 non-null      float64
 16  description     622 non-null    object
dtypes: float64(2), int64(1), object(14)
memory usage: 85.8+ KB

In [38]:
df.duplicated().sum()

np.int64(0)

In [39]:
df.drop(columns=['propertyID', 'parkingSpaces', 'agentEmail', 'agentPhone', 'description', 'agentName', 'address', 'publishedDate', 'lastUpdateDate', 'agentPhone'], inplace=True)

In [40]:
df.isna().sum()

propertyType     10
priceAUD          0
priceUSD          0
buildingSize     22
bedrooms        221
bathrooms       221
features        290
agency           10
dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   propertyType  635 non-null    object
 1   priceAUD      645 non-null    object
 2   priceUSD      645 non-null    object
 3   buildingSize  623 non-null    object
 4   bedrooms      424 non-null    object
 5   bathrooms     424 non-null    object
 6   features      355 non-null    object
 7   agency        635 non-null    object
dtypes: object(8)
memory usage: 40.4+ KB

In [42]:
df.propertyType.value_counts()

propertyType
House                   204
Apartment               197
Other                   189
Unit                     30
Industrial/Warehouse      9
Land                      3
Retail                    2
Offices                   1
Name: count, dtype: int64

In [43]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='constant', fill_value='Other')
df['propertyType'] = imputer.fit_transform(df[['propertyType']]).ravel()

In [44]:
df.propertyType.isna().sum()

np.int64(0)

In [45]:
df.buildingSize.head()

0       80.00 m2
1    1,575.00 m2
2       50.00 m2
3      300.00 m2
4      160.00 m2
Name: buildingSize, dtype: object

In [46]:
df['buildingSize(m2)'] = df.buildingSize.str.replace(" m2", "").str.replace(",", "").astype(float)
df.drop(columns=['buildingSize',], inplace=True)

In [48]:
df['priceAUD'] = df['priceAUD'].str.replace(",", "").str.replace("AUD $", "")
df['priceUSD'] = df['priceUSD'].str.replace(",", "").str.replace("USD $", "")
df = df[df['priceUSD'].str.isnumeric() == True]

df['priceAUD'] = df['priceAUD'].replace("Other", "0")
df['priceUSD'] = df['priceAUD'].replace("Other", "0")

df['bedrooms'] = df['priceAUD'].replace("Other", "0")
df['bathrooms'] = df['priceAUD'].replace("Other", "0")

df['bedrooms'] = df['bedrooms'].str.replace(" bedroom(s)", "").dropna()
df['bathrooms'] = df['bathrooms'].str.replace(" bathroom(s)", "").dropna()

df['priceAUD'] = pd.to_numeric(df['priceAUD'])
df['priceUSD'] = pd.to_numeric(df['priceUSD'])

In [49]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
df[['buildingSize(m2)', 'priceAUD', 'priceUSD', 'bedrooms', 'bathrooms']] = imputer.fit_transform(df[['buildingSize(m2)', 'priceAUD', 'priceUSD', 'bedrooms', 'bathrooms']])

In [74]:
# df['priceAUD'] = df['priceAUD'].str.replace(",", "").str.replace("AUD $", "")
# df['priceUSD'] = df['priceUSD'].str.replace(",", "").str.replace("USD $", "")
# df = df[df['priceUSD'].str.isnumeric() == True]

df['priceAUD'] = df['priceAUD'].replace("Other", "0")
df['priceUSD'] = df['priceAUD'].replace("Other", "0")

df['bedrooms'] = df['priceAUD'].replace("Other", "0")
df['bathrooms'] = df['priceAUD'].replace("Other", "0")

# df['bedrooms'] = df['bedrooms'].str.replace(" bedroom(s)", "").dropna()
# df['bathrooms'] = df['bathrooms'].str.replace(" bathroom(s)", "").dropna()

df['priceAUD'] = pd.to_numeric(df['priceAUD'])
df['priceUSD'] = pd.to_numeric(df['priceUSD'])

In [72]:
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')
df["bathrooms"] = pd.to_numeric(df['bathrooms'], errors='coerce')
df['buildingSize(m2)'] = pd.to_numeric(df['buildingSize(m2)'], errors='coerce')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 644 entries, 0 to 644
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   propertyType           644 non-null    object
 1   priceAUD               644 non-null    float64
 2   priceUSD               644 non-null    float64
 3   bedrooms               644 non-null    object
 4   bathrooms              644 non-null    object
 5   agency                 644 non-null    int64
 6   buildingSize(m2)       634 non-null    float64
 7   AirConditioning        644 non-null    int64
 8   Balcony                644 non-null    int64
 9   Barbecue area          644 non-null    int64
 10  Garden                 644 non-null    int64
 11  Heating                644 non-null    int64
 12  Indoor Furnished       644 non-null    int64
 13  Other Features         644 non-null    int64
 14  Outdoor swimming pool  644 non-null    int64
 15  Pool                   644 non-null    int64
 16  Remote Garage          644 non-null    int64
 17  Sauna                  644 non-null    int64
dtypes: float64(3), int64(12), object(3)
memory usage: 95.6+ KB

In [57]:
vc = df['agency'].value_counts()
rare = vc[vc < 10].index

df['agency'] = df['agency'].replace(rare, 'Other')

agency
PROPIEDADES LEITON                      126
Other                                   110
Live Love Costa Rica                     84
The Agency | Costa Rica                  53
Vision Urbana Realty                     52
RE/MAX CENTRAL                           30
Ram Realtors Costa Rica - Newmark CA     24
Realty ONE Group Costa Rica              22
Overseas Realty Communities              19
CENTURY 21 El Farolito                   17
Domus Verum Real Estate                  16
Coldwell Banker - Pura Vida Paradise     15
RE/MAX OCCIDENTE                         15
DÃºo CR Real Estate                      13
Costa Rica Properties Real Estate        13
Overseas Realty                          13
CENTURY 21 Luxa                          12
Name: count, dtype: int64

In [60]:
df.isna().sum()

propertyType          0
priceAUD              0
priceUSD              0
bedrooms              0
bathrooms             0
features            280
agency                0
buildingSize(m2)      0
dtype: int64

In [61]:
df['features'].value_counts()

features
["Indoor Furnished", "Outdoor swimming pool", "Pool"]                                 95
["Outdoor swimming pool", "Pool"]                                                     49
["Indoor Furnished", "Outdoor swimming pool", "Garden", "Pool"]                       47
["Outdoor swimming pool", "Pool", "Remote Garage"]                                    42
["Remote Garage"]                                                                     35
["Indoor Furnished"]                                                                  27
["Outdoor swimming pool", "Garden", "Pool"]                                           15
["Indoor Furnished", "Outdoor swimming pool", "Pool", "Remote Garage"]                14
["Indoor Furnished", "Remote Garage"]                                                 13
Other                                                                                 10
["Indoor Furnished", "Garden"]                                                         5
["Garden"]                                                                             4
["Barbecue area"]                                                                      2
["AirConditioning", "Sauna", "Garden"]                                                 1
["Indoor Furnished", "Barbecue area", "Garden"]                                        1
["Indoor Furnished", "AirConditioning", "Balcony"]                                     1
["Barbecue area", "Garden"]                                                            1
["Heating", "Outdoor swimming pool", "Pool", "Remote Garage"]                          1
["Indoor Furnished", "AirConditioning", "Outdoor swimming pool", "Garden", "Pool"]     1
Name: count, dtype: int64

In [62]:
import json
import pandas as pd

def parse_features(x):
    if pd.isna(x) or x == "Other":
        return ["Other Features"]
    try:
        return json.loads(x)
    except:
        return ["Other Features"]



df['features'] = df['features'].apply(parse_features)

In [63]:
df['features'].value_counts()

features
[Other Features]                                                            290
[Indoor Furnished, Outdoor swimming pool, Pool]                              95
[Outdoor swimming pool, Pool]                                                49
[Indoor Furnished, Outdoor swimming pool, Garden, Pool]                      47
[Outdoor swimming pool, Pool, Remote Garage]                                 42
[Remote Garage]                                                              35
[Indoor Furnished]                                                           27
[Outdoor swimming pool, Garden, Pool]                                        15
[Indoor Furnished, Outdoor swimming pool, Pool, Remote Garage]               14
[Indoor Furnished, Remote Garage]                                            13
[Indoor Furnished, Garden]                                                    5
[Garden]                                                                      4
[Barbecue area]                                                               2
[AirConditioning, Sauna, Garden]                                              1
[Indoor Furnished, Barbecue area, Garden]                                     1
[Indoor Furnished, AirConditioning, Balcony]                                  1
[Barbecue area, Garden]                                                       1
[Heating, Outdoor swimming pool, Pool, Remote Garage]                         1
[Indoor Furnished, AirConditioning, Outdoor swimming pool, Garden, Pool]      1
Name: count, dtype: int64

,AirConditioning,Balcony,Barbecue area,Garden,Heating,Indoor Furnished,Other Features,Outdoor swimming pool,Pool,Remote Garage,Sauna
0,0,0,0,0,0,0,0,1,1,1,0
1,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
640,0,0,0,0,0,0,0,1,1,0,0
641,0,0,0,0,0,1,0,1,1,0,0
642,0,0,0,0,0,1,0,0,0,0,0
643,0,0,0,0,0,0,1,0,0,0,0
644,0,0,0,0,0,0,0,1,1,0,0

In [66]:
df.drop(columns=['features'], inplace=True)

In [67]:
df

,propertyType,priceAUD,priceUSD,bedrooms,bathrooms,agency,buildingSize(m2),AirConditioning,Balcony,Barbecue area,Garden,Heating,Indoor Furnished,Other Features,Outdoor swimming pool,Pool,Remote Garage,Sauna
0,Unit,1226.0,1226.0,1226.0,1226.0,Coldwell Banker - Pura Vida Paradise,80.0,0,0,0,0,0,0,0,1,1,1,0
1,Other,55526.0,55526.0,55526.0,55526.0,DÃºo CR Real Estate,1575.0,0,0,0,0,0,0,1,0,0,0,0
2,Unit,1073.0,1073.0,1073.0,1073.0,Other,50.0,0,0,0,0,0,0,0,0,0,1,0
3,Unit,460.0,460.0,460.0,460.0,Other,300.0,0,0,0,0,0,0,1,0,0,0,0
4,House,690.0,690.0,690.0,690.0,Other,160.0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Apartment,5619.0,5619.0,5619.0,5619.0,Realty ONE Group Costa Rica,197.0,0,0,0,0,0,0,0,1,1,0,0
641,Apartment,5288.0,5288.0,5288.0,5288.0,Realty ONE Group Costa Rica,197.0,0,0,0,0,0,1,0,1,1,0,0
642,House,2299.0,2299.0,2299.0,2299.0,Realty ONE Group Costa Rica,150.0,0,0,0,0,0,1,0,0,0,0,0
643,Apartment,4522.0,4522.0,4522.0,4522.0,Realty ONE Group Costa Rica,197.0,0,0,0,0,0,0,1,0,0,0,0
644,Apartment,4522.0,4522.0,4522.0,4522.0,Realty ONE Group Costa Rica,173.0,0,0,0,0,0,0,0,1,1,0,0

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 644 entries, 0 to 644
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   propertyType           644 non-null    object
 1   priceAUD               644 non-null    object
 2   priceUSD               644 non-null    object
 3   bedrooms               644 non-null    object
 4   bathrooms              644 non-null    object
 5   agency                 644 non-null    object
 6   buildingSize(m2)       644 non-null    object
 7   AirConditioning        644 non-null    int64
 8   Balcony                644 non-null    int64
 9   Barbecue area          644 non-null    int64
 10  Garden                 644 non-null    int64
 11  Heating                644 non-null    int64
 12  Indoor Furnished       644 non-null    int64
 13  Other Features         644 non-null    int64
 14  Outdoor swimming pool  644 non-null    int64
 15  Pool                   644 non-null    int64
 16  Remote Garage          644 non-null    int64
 17  Sauna                  644 non-null    int64
dtypes: int64(11), object(7)
memory usage: 95.6+ KB

In [69]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df['agency'] = encoder.fit_transform(df['agency'])

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 644 entries, 0 to 644
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   propertyType           644 non-null    object
 1   priceAUD               644 non-null    object
 2   priceUSD               644 non-null    object
 3   bedrooms               644 non-null    object
 4   bathrooms              644 non-null    object
 5   agency                 644 non-null    int64
 6   buildingSize(m2)       644 non-null    object
 7   AirConditioning        644 non-null    int64
 8   Balcony                644 non-null    int64
 9   Barbecue area          644 non-null    int64
 10  Garden                 644 non-null    int64
 11  Heating                644 non-null    int64
 12  Indoor Furnished       644 non-null    int64
 13  Other Features         644 non-null    int64
 14  Outdoor swimming pool  644 non-null    int64
 15  Pool                   644 non-null    int64
 16  Remote Garage          644 non-null    int64
 17  Sauna                  644 non-null    int64
dtypes: int64(12), object(6)
memory usage: 95.6+ KB